.container {
  display: grid;
  place-content: center;
  height: 80vh;
  gap: 2em;
  /* text-align: center; */
  /* border: 1px solid black; */
}
.formContainer {
  border: 1px solid black;
  padding: 2em;
  display: grid;
  gap: 1em;
}

.formContainer input {
  width: 100%;
  outline: 0;
  border-width: 0 0 0.5px;
}
button {
  width: 100%;
  border: 0;
  height: 2em;
  border-radius: 2px;
  background-color: rgb(90, 84, 84);
  color: white;
  border-radius: 15px;
  font-size: 0.6em;
}
